[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    width: 120px;
    text-align: center;
    background-color: var(--background);
    color: var(--color);
    border: 1px solid var(--color);
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 10px;
}

