.input:focus {
}

.input {
}

.inputWrapper {
    display: flex;
    align-items: center;
}

.superInput {
}

.errorInput {
    border-color: red;
}

.errorInput:focus {
    border-color: red;
}

.error {
    color:red;
}
