

/* Стили для меток */
.label {
    display: flex;
    align-items: center;
    gap: 10px; /* Отступ между кнопкой и текстом */
}

/* Стили для контейнера опций */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между блоками радиокнопок */
}
