.friendMessage {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 10px;
    padding-right: 250px;
    padding-top: 30px;
}

.friendImageAndText {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
}

.friendImageAndText img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    order: 2;
}

.friendText {
    color: white;
    flex-grow: 1;
    position: relative;
    border-radius: 10px;
    padding: 10px;
    background-color: #0066cc;
    display: inline-block;
    width: auto;
    margin-right: 10px;
    margin-bottom: 20px;
}

.friendText::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -9px;
    width: 0;
    height: 0;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #0066cc;
}

.friendName {
    font-weight: bold;
    margin-bottom: 5px;
}

.friendMessageText {
    /* Дополнительные стили для текста сообщения друга */
}

.friendTime {
    font-size: 10px;
    font-weight: bold;
    color: black;
    position: absolute;
}




