.sendForm {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.textarea {
    background-color: aliceblue;
    border-radius: 40px;
    width: 60%;
    margin-right: 10px;
    resize: none;
    height: auto;
    min-height: 35px;
}

.button {
    color: white;
    background-color: #0066cc;
    border-radius: 20px;
    width: 6%;
    height: 35px;
    align-self: center;
}

.button:hover {

}
.button:active {

}
