.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.number {
    padding: 10px;
}

